/* URLS MUST BE ABSOLUTE PATHS TO FONTS!!!! */

/* EXAMPLE- public-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/public-sans-v21-latin-600.woff2") format("woff2");
}
