@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./styles/fonts.css";

/* CUSTOMIZE FONTS & NAMES, ADD BREAKPOINTS, AND CUSTOM COLORS IN THEME */
/* @theme {
  --font-primary:
    "Public Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
} */

@layer base {
  /* Hide scrollbar for Chrome, Safari, Edge, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  body {
    @apply bg-white text-black font-normal;
    line-height: 1.6;
  }
  h1 {
    @apply lg:text-5xl font-bold;
  }
  h2 {
    @apply lg:text-4xl font-semibold;
  }
  h3 {
    @apply lg:text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-normal;
  }
  h6 {
    @apply text-base font-light;
  }
  p {
    @apply text-base;
  }
}

@layer components {
  .nav-link {
    @apply relative font-medium text-gray-700 transition-colors duration-200;
  }

  .nav-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-0.5 w-full scale-x-0 bg-blue-600 transition-transform duration-300 origin-left;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    @apply scale-x-100;
  }

  .nav-link.active {
    @apply text-blue-600;
  }
  .btn-primary {
    @apply rounded-full bg-white border-2 border-white px-8 py-4 text-center text-black uppercase shadow-md shadow-gray-600 hover:bg-transparent hover:text-white transition duration-500 cursor-pointer;
  }
  .btn-secondary {
    @apply rounded-full bg-transparent border-2 border-white px-8 py-4 text-center text-white uppercase shadow-md shadow-gray-600 hover:bg-white hover:border-white hover:text-black transition duration-500 cursor-pointer;
  }
}

@layer utilities {
  .animate-ui-spring {
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .svg-center {
    transform-box: fill-box;
    transform-origin: center;
  }
  .pattern-bg {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%230d542b' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  }
}
