@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./styles/fonts.css";

/* CUSTOMIZE FONTS & NAMES, ADD BREAKPOINTS, AND CUSTOM COLORS IN THEME */
@theme {
  --font-primary:
    "Public Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
}

@layer components {
  .nav-link {
    @apply relative font-medium text-gray-700 transition-colors duration-200;
  }

  .nav-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-0.5 w-full scale-x-0 bg-blue-600 transition-transform duration-300 origin-left;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    @apply scale-x-100;
  }

  .nav-link.active {
    @apply text-blue-600;
  }
.btn-primary {
    @apply rounded-full bg-white border-2 border-white px-8 py-4 text-center text-black uppercase shadow-md shadow-gray-600 hover:bg-transparent hover:text-white transition duration-500 cursor-pointer;
  }
  .btn-secondary {
    @apply rounded-full bg-transparent border-2 border-white px-8 py-4 text-center text-white uppercase shadow-md shadow-gray-600 hover:bg-white hover:border-white hover:text-black transition duration-500 cursor-pointer;
  }
}

@layer utilities {
  .animate-ui-spring {
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  .svg-center {
    transform-box: fill-box;
    transform-origin: center;
  }
}
